@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
span {
  font-family: inherit;
  font-weight: inherit;
}
.blueShadow {
  box-shadow: 3px 3px 0 0 #60f5fa;
}
.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 0 #60f5fa;
}
